<footer class="bg-dark text-white text-center py-3 mt-auto w-100">
           
  <br>

  <p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-whatsapp"></a>
    <a href="https://www.instagram/drogariacintia" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>
  </p>

  <br>
  <div class="container" >
            <small>&copy; 2026 Sistema de Entregas - DC.</small>
            <small> Todos os direitos reservados. Caso de dúvida, entre em contato com o administrador.</small>
  </div>
</footer>